<% provide(:title, "Login") %>
<h1>Login</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', id: 'email' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', id: 'password' %>

      <%= f.submit "Login", class: "btn btn-primary", id: 'Login' %>

    <% end %>
<br>
    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
	<p>Forgot your password? <%=link_to "Restore now!", restore_path %></p>
  </div>
</div>
