<% provide(:title, "Restore") %>
<% provide(:button_text, 'Restore now!') %>

<h1>Restore your password</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
 
  <%= form_for(:session, url: restore_path) do |f| %>
 
    <%= f.label :email, "E-Mail" %>
    <%= f.email_field :email, class: 'form-control', id: 'email' %>

    <%= f.label :question, "Question"%>
    <%= f.select :question, options_for_select([['La tua band preferita?',1],['Il lavoro di tuo nonno?',2],['Il nome del tuo primo animale domestico?',3],['Il tuo film preferito?',4]]) %>
	  
    <%= f.label :answer %>
    <%= f.text_field :answer, class: 'form-control', id: 'answer' %>	  
	  
    <%= f.submit yield(:button_text), class: "btn btn-primary", id: 'Save changes' %>
  <% end %>
	  
  </div>
</div>
