<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

   <% if current_user.admin? && current_user!=@user%>
     <%= f.label :banned, class: "checkbox inline" do %>
     <%= f.check_box :banned %>
     <span>Ban user</span>
     <% end %>
  <% end %>
  <br>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>
