<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control', id: 'name' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control', id: 'email' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control', id: 'password' %>

  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, class: 'form-control', id: 'password_confirmation' %>
  
  <%= f.label :question %>
  <%= f.select :question, options_for_select([['La tua band preferita?',1],['Il lavoro di tuo nonno?',2],['Il nome del tuo primo animale domestico?',3],['Il tuo film preferito?',4]]) %>
	  
  <%= f.label :answer %>
  <%= f.text_field :answer, class: 'form-control', id: 'answer' %>	  

  <%= f.submit yield(:button_text), class: "btn btn-primary", id: 'Create my account' %>

<% end %>

  <br>
  <p>Are you already registered? <%=link_to "Log in now!", login_path %></p>
  
  </div>
</div>
