<% provide(:title, @user.name) %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Hi, <%= @user.name %>!</h1>
		<%= form_for :message do |f| %>
		<%= f.label :key %>
		<%= f.text_field :key, class: 'form-control' %>
		<%= f.label :messaggio %>
		<%= f.text_area :messaggio, class: 'form-control' %>
		
		<%= f.label :'time-out' %>
		<%= f.date_select :datepicker, class: 'form-control' %>
		
		<%= f.submit "Encrypt message", class: "btn btn-primary" %></br></br>
		<%= f.submit "Decrypt message", class: "btn btn-primary" %>
		<% end %>
		<html lang="en">

	</div>
</div>
