<% provide(:title, "Get Updates") %>

<% if cookies[:saved_subscriver] %>
  <h1>Thanks for subscribing to newsletter!<h1>

<% else %>
  
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @subscriber do |f| %>
        <%= render 'shared/subscribes_error_messages' %>
      <% if current_user.nil? || !current_user.admin? %>
		<h1>Subscribe to receive newsletter!</h1>
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :email %>	
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.submit "Subscribe!", class: "btn btn-primary" %>
      
		<%else%>
		<h1>Send a newsletter</h1>
		
		<center>
			
            <% if !Subscriber.nil? %>
		      <%= mail_to Subscriber.pluck(:email).to_s.gsub!('[','').gsub!(']','').gsub!('"',''), "Send a letter from Ogygia!", class: "btn btn-primary" %>
            <% else %>
              No subscribers :(
            <% end %>
		</center>
		
		<% end %>
		<% end %>
		
    </div>
  </div>
<% end %>
