<% provide(:title, "Get Updates") %>

<% if cookies[:saved_subscriver] %>
  <h1>Thanks for signing up!<h1>

<% else %>
  <h1>Sign up to receive new post in your inbox!</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @subscriber do |f| %>
        <%= render 'shared/subscribes_error_messages' %>
      
	<%= f.label :name %>
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :email %>	
	<%= f.email_field :email, class: 'form-control' %>

	<%= f.submit "Send", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
